<section class="hs-panel bestseller-intro tdFadeInUp" aria-labelledby="bestseller-intro-heading">
  <div class="text">
    <div class="outer">
      <p class="content" id="bestseller-intro-heading">
        Indian-based fashion company Bestseller wanted to predict the right merchandise for their customers at the right time, because they knew their customers' tastes varied "every few kilometres".
      </p>
    </div>
    <div class="right-side">
      <div class="inner">
        <img src="../assets/images/img5.jpg" alt="Fashion store with clothing racks" loading="lazy">
        <img src="../assets/svg/img4-lines.svg" alt="" class="svg-overlay" aria-hidden="true">
        <img src="../assets/svg/arrow.svg" alt="" class="svg-arrow" aria-hidden="true">
      </div>
    </div>
  </div>
</section>
