<section class="bestseller-intro tdFadeInUp" aria-labelledby="bestseller-intro-heading">
  <div class="product1">
    <div class="left-side">
      <p id="bestseller-intro-heading">
        Indian-based fashion company Bestseller wanted to predict the right merchandise for their customers at the right time, because they knew their customers' tastes varied "every few kilometres".
      </p>
    </div>
    <div class="right-side">
      <div class="inner">
        <img src="../assets/images/img5.jpg" alt="Fashion store with clothing racks" loading="lazy">
        <img class="svg-overlay" src="../assets/svg/img4-lines.svg" alt="" aria-hidden="true">
        <img class="svg-arrow" src="../assets/svg/arrow.svg" alt="" aria-hidden="true">
      </div>
    </div>
  </div>
</section>
