<footer class="ice-footer" role="contentinfo">
  <div class="ice-footer__hero">
    <img class="ice-footer__hero-img" src="../assets/images/footer.jpg" alt="Earth from space at night, city lights visible" loading="lazy">
    <img class="ice-footer__ibm-logo" src="../assets/images/IBM-logo-white.png" alt="IBM">
    <a href="#" class="ice-footer__cta" aria-label="Find out more about IBM">
      <span class="ice-footer__cta-text">Find out more</span>
      <span class="ice-footer__cta-rule" aria-hidden="true"></span>
    </a>
  </div>

  <div class="ice-footer__bottom">
    <img class="ice-footer__cnn-logo" src="../assets/images/cnn_logo.png" alt="CNN">
    <ul class="ice-footer__links">
      <li><a href="#">Advertise</a></li>
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="ice-footer__legal">
      &copy; 2018 Cable News Network. Turner Broadcasting System, Inc. All Rights Reserved.
      CNN Sans&trade; &amp; &copy; 2018 Cable News Network.
    </p>
  </div>
</footer>
