<section class="ce-section tdFadeInUp" aria-label="IBM Cognitive Enterprise Framework">
  <div class="ce-diagram" aria-hidden="true">
    <div class="ce-intro">
      <p>With so much data now available, and with ever-demanding customers as well as new opportunities for interaction, more and more companies are seeing the need to embrace the cognitive enterprise.</p>
      <p class="ce-intro__lead">
        To address these desires, Foster, the IBM Senior Vice President, has identified what he sees as
        <span class="ce-intro__underline">seven success factors</span>. These include:
      </p>
    </div>

    <img class="ce-diagram__lines" src="../assets/svg/7factors-lines.svg" alt="">

    <div class="ce-node ce-node--top" data-cx="84" data-cy="197.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Darwin_V1.json"></div>
      </div>
      <p class="ce-caption">Creating platforms<br>to unleash Digital<br>Darwinism</p>
    </div>

    <div class="ce-node ce-node--top" data-cx="299" data-cy="197.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Data_V1.json"></div>
      </div>
      <p class="ce-caption">Leveraging the<br>advantage in data</p>
    </div>

    <div class="ce-node ce-node--top" data-cx="511" data-cy="197.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Architect_V1.json"></div>
      </div>
      <p class="ce-caption">Becoming the<br>architect for your<br>business of change</p>
    </div>

    <div class="ce-node ce-node--top" data-cx="726" data-cy="197.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_AI_V1.json"></div>
      </div>
      <p class="ce-caption">Redesigning<br>workflows around AI</p>
    </div>

    <div class="ce-node ce-node--bottom" data-cx="190" data-cy="498.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Agile_V1.json"></div>
      </div>
      <p class="ce-caption">Becoming agile to<br>build and change<br>fast</p>
    </div>

    <div class="ce-node ce-node--bottom" data-cx="403" data-cy="498.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Talent_V1.json"></div>
      </div>
      <p class="ce-caption">Reinventing the<br>workforce to ignite<br>talent</p>
    </div>

    <div class="ce-node ce-node--bottom" data-cx="618" data-cy="498.5">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/ExponentialTech.json"></div>
      </div>
      <p class="ce-caption">Winning with trust<br>and security</p>
    </div>
  </div>

  <div class="ce-grid" aria-label="Seven success factors">
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Darwin_V1.json"></div>
      </div>
      <p class="ce-caption">Creating platforms to unleash Digital Darwinism</p>
    </div>
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Data_V1.json"></div>
      </div>
      <p class="ce-caption">Leveraging the advantage in data</p>
    </div>
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Architect_V1.json"></div>
      </div>
      <p class="ce-caption">Becoming the architect for your business of change</p>
    </div>
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_AI_V1.json"></div>
      </div>
      <p class="ce-caption">Redesigning workflows around AI</p>
    </div>
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Agile_V1.json"></div>
      </div>
      <p class="ce-caption">Becoming agile to build and change fast</p>
    </div>
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/IBM_Icon_Talent_V1.json"></div>
      </div>
      <p class="ce-caption">Reinventing the workforce to ignite talent</p>
    </div>
    <div class="ce-cell">
      <div class="ce-icon-ring">
        <div class="ce-lottie" data-lottie="../assets/animations/Animation/ExponentialTech.json"></div>
      </div>
      <p class="ce-caption">Winning with trust and security</p>
    </div>
  </div>

  <blockquote class="ce-quote">
    <p>
      We say this is a destination, where organizations will work
      towards in the coming years, it's the definition of a
      transformational journey.
    </p>
    <cite class="ce-quote-attribution">
      &mdash; Mark Foster, Senior Vice President, IBM Services and Global Business Services
    </cite>
  </blockquote>
</section>
